<section class="character-list-container">
  <h2>{{ title }}</h2>
  <!--app-character-filter (dataFiltered)="updateCharacters($event)"></app-character-filter-->
  <ul>
    <li *ngFor="let character of characters">
      <a routerLink="/characters/{{character.id}}">
        <span class="character">{{character.id}} {{character.name}}</span>
      </a>
    </li>
  </ul>
  <div>
    <span>{{totalResults}} results in {{totalPages}} pages</span>
    <button type="button" (click)="goPrevPage()" [disabled]="prevPageUrl === ''">Previous Page</button>
    <button type="button" (click)="goNextPage()" [disabled]="nextPageUrl === ''">Next Page</button>
  </div>
</section>