<section class="container">

  <app-character-filter (dataFiltered)="updateCharacters($event)"></app-character-filter>

  <div class="row justify-content-center">
    <span class="summary">{{totalResults}} results in {{totalPages}} pages</span>
  </div>

  <div class="search-wrapper row justify-content-center">
    <button type="button" class="btn btn-outline-success page-button" (click)="goPrevPage()" [disabled]="prevPageUrl === ''">
      <span class="oi oi-arrow-left"></span>
    </button>
    <button type="button" class="btn btn-outline-success page-button" (click)="goNextPage()" [disabled]="nextPageUrl === ''">
      <span class="oi oi-arrow-right"></span>
    </button>
  </div>

  <div class="list-wrapper row justify-content-center">
    <div class="character-block col-md-3 col-sm-6 text-center" *ngFor="let character of characters">
      <a routerLink="/character/{{character.id}}">
        <img src="{{character.image}}" /> {{character.name}}
      </a>
    </div>
  </div>

  <div class="search-wrapper row justify-content-center">
    <button type="button" class="btn btn-outline-success page-button" (click)="goPrevPage()" [disabled]="prevPageUrl === ''">
      <span class="oi oi-arrow-left"></span>
    </button>
    <button type="button" class="btn btn-outline-success page-button" (click)="goNextPage()" [disabled]="nextPageUrl === ''">
      <span class="oi oi-arrow-right"></span>
    </button>
  </div>

</section>